<!--
<div class="w3-content w3-section" style="max-width:500px">
    <img class="mySlides" src="~/public/img/img1.jpg" style="width:100%">
    <img class="mySlides" src="~/public/img/img2.jpg" style="width:100%">
    <img class="mySlides" src="~/public/img/img3.jpg" style="width:100%">
</div>

-->