@model KennysCards.Models.Signin

<div class="w3-display-container" style="height:600px">
    <div class="w3-card-4 w3-display-middle w3-half">
        <form id="formsignin" class="w3-padding-16">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "w3-input", @placeholder = "Correo electrónico" })
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "w3-input", @placeholder = "Contraseña" })
            <br />
            <button class="w3-btn w3-brown">Iniciar sesión</button></p>
        </form>
    </div>
</div>
